name: Dependency Review

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ main ]

jobs:
  dependency-review:
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run dependency review
        uses: actions/dependency-review-action@v4
        continue-on-error: true
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          warn-only: true

